table,tr,td,th{
    border: 3px solid black;
    text-align: center;
    border-collapse: collapse;
    
}
table{
   font-size: 45px;
   width: 100%;
}
.T{
    color: rgb(88, 4, 46); text-decoration: none;
}
.Ta{
    color: #071ac5; text-decoration: none;
}
.Taa{
    color: #3fe00e; text-decoration: none;
}
.Taaa{
    color: darkred; text-decoration: none; text-decoration: none;

}
.Taaaa{
    color: red; text-decoration: none;
}
.Taaaaa{
    color: rgb(240, 240, 9); text-decoration: none;
}
.T:hover{
    color: black;
    
}
td:hover{
    background-color:rgba(0, 0, 0, 0.164);
}
th {
    background-color:rgb(59, 141, 4);
color : white;
 }